{% extends "blank_layout.html" %}
{% block banner %}
{% load static %}
<div class="row">
    <div class="col-2">
        <h1>ABOUT<br></h1><h3>MEDICINA HEALTH CARE</h3>
        <p>Founded in 2014 by our Managing Director, Shamil, a former NRA member, Medicina Health Care began its journey in Perithalmanna with a modest supply of stocks and limited distribution capabilities. Over the years, our commitment to quality and customer satisfaction has allowed us to grow steadily. In 2018, we proudly opened our first branch in Palakkad, followed by a new branch in Kannur in 2022, marking significant milestones in our expansion.
        </p>
        <br>
        <p>As of 2024, Medicina Health Care celebrates a decade of excellence in the healthcare and surgical distribution field. We now serve as a trusted distributor for 35 renowned companies, including HaWalker, Roche, Quick Check, Homron, Dynamic, MedtechClims, and Dynor. Our partnership with HaWalker, which began two years ago, has been particularly fruitful, earning us the Best Performer Award, a testament to our dedication and the strong support of our valued customers and partners.</p>
        <br>
        <p>At Medicina Health Care, our focus remains on delivering top-tier medical supplies and equipment to healthcare providers across regions. With over 10 years of experience, we continue to uphold our mission of supporting the medical community with reliable and efficient distribution services.</p>
        <br>
    </div>
    <div class="col-2">
        <img src="{% static 'images/shamil_ikka.jpg' %}" alt="">



        
    </div>
</div>
            
{% endblock banner %}
{% block content %}

{% comment %} {% include "home_page_layout.html" %} {% endcomment %}




{% endblock content %}